---
import Layout from "../_includes/base.astro"
---

<Layout title="Notes" slug="404" >
  <h1>
    404
  </h1>
  <br>
  <p>
    The page you are looking for does not exist. Try going back returning to <a href="/">the stream</a> or check out <a href="https://ibro.xyz">ibro.xyz</a>&nbsp;instead? 
  </p>
</Layout>
