---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection("note")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} slug={entry.slug} related={[]}>
<header>

<!-- 	<a href="#" onclick="history.back()" id="back">
		<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.84182 3.13514C9.04327 3.32401 9.05348 3.64042 8.86462 3.84188L5.43521 7.49991L8.86462 11.1579C9.05348 11.3594 9.04327 11.6758 8.84182 11.8647C8.64036 12.0535 8.32394 12.0433 8.13508 11.8419L4.38508 7.84188C4.20477 7.64955 4.20477 7.35027 4.38508 7.15794L8.13508 3.15794C8.32394 2.95648 8.64036 2.94628 8.84182 3.13514Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
	</a> -->

	<h2>{entry.data.title}</h2>
</header>
<article>
	<section class="content">
		<Content />
	</section>
</article>
</Layout>

<style>
	header {
		display: flex;
		gap: 3em;
		/* border-block-end: 1px solid var(--t-low); */
		padding: .25em;
		position: sticky;
		/* background: red; */
		top:0;
		opacity: .98;
		mask-image: linear-gradient( #000 60%, transparent);

		/* background: #00000077; */
		backdrop-filter: blur(8px);
		z-index: 4;
	}
	article {
		padding-block-start: 1em;
		padding-inline: .5em;
		margin-inline: auto;
		max-width: 60ch;
	}
  .posts {
    padding: 3rem 0;
  }

  time {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.5;
  }
  h2 {
    font-size: 1rem;
		/* font-weight: 400; */
		text-align: center;
		flex-grow: 1;
    /* margin-bottom: 0.5rem; */
  }
  .content {
    max-width: 60ch;
  }
</style>
