---
import type { CollectionEntry } from 'astro:content'
import Layout from '../layouts/base.astro'
import '../css/type.css'

export interface Props {
	entry: CollectionEntry<'note'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
	<div>
		<!-- <a href='#' onclick='history.back()'> ⮌ Return</a> -->
		<article>
			<header>
				<h1> {entry.data.title} </h1>
				<p class="date"> <time>
					{ new Date(entry.data.date).toLocaleDateString() }
				</time></p>
				<div class="tags">
					{
						entry.data.tags.map((tag) => {
							return (
								<a href={'/tag/'+tag.split(' ').join('-')}>{tag}</span></a>
							)
						})
					}
				</div>
			</header>
			<section class='content'>
				<Content/>
			</section>
			{<aside id="backlinks">

			</aside>}
		</article>
	</div>
</Layout>

