---
import type { CollectionEntry } from 'astro:content'
import Layout from '../layouts/base.astro'
import '../css/type.css'

export interface Props {
	entry: CollectionEntry<'note'>
}

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter } = await entry.render()

const modified = new Date(remarkPluginFrontmatter.modified)
---

<Layout title={entry.data.title}  type={{
	published_time: entry.data.date,
	modified_time: modified,
	tags: entry.data.tags,
	}}>
	<main>
		<div>
			<!-- <a href='#' onclick='history.back()'> ⮌ Return</a> -->
			<article>
				<header>
					<h1> {entry.data.title} </h1>
					<p class="date"> <time>
						{ new Date(entry.data.date).toLocaleDateString()}–{modified.toLocaleDateString()}</time></p>
					<div class="tags">
						{
							entry.data.tags.map((tag) => {
								return (
									<a href={'/tag/'+tag.split(' ').join('-')}>{tag}</span></a>
								)
							})
						}
					</div>
				</header>
				<section class='content'>
					<Content/>
				</section>
				{<aside id="backlinks">
				</aside>}
			</article>
		</div>
	</main>
</Layout>

