---
import "../css/main.css"
import Nav from '../components/nav.astro'
export interface Props {
  title: string
}
const { title } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
		<Nav/>
    <main id="swup" class="transition-fade">
      <slot />
		</main>
  </body>
</html>

