---
import '../css/main.css'
import Nav from '../components/nav.astro'
import Meta from '../components/meta.astro'
import type { MetaProps } from '../types'
import { ViewTransitions } from 'astro:transitions'
export interface Props extends MetaProps {}

const props = Astro.props
---

<!--  ̴̡ ̡ ̴̡ı̴̡̡ ̡͌l̡̡̡̡|̲̲̲͡͡͡ ̲▫̲͡ ̲̲̲͡͡π̲̲͡͡ ̲̲͡▫̲̲͡͡ ̲|̡̡̡ ̡ ̴̡ı̴̡̡ ̡͌l̡ ̴̡ı̴̴̡ ̡l̡*̡̡ ̴̡ı̴̴̡ ̡̡͡|̲̲̲͡͡͡ ̲▫̲͡ ̲̲̲͡͡π̲̲͡͡ ̲̲͡▫̲̲͡͡ |ı̴̡̡ ̡͌l̡ ̴̡ı̴̴̡ ̡l̡ ̴̡-->
<!--         lo, traveler!                        -->
<!--        perhaps this is the data you seek...  -->
<!--     https://github.com/sameoldlab/ibro.xyz   -->
<!--                                              -->
<!--——————————————————————————————————————————————-->
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>{props.title}</title>
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<Meta {...props}/>
		<slot name='head'/>
		<link rel='sitemap' href='/sitemap-index.xml' />
		<ViewTransitions/>
	</head>
	<body>
		<Nav />
		<slot/>
	</body>
</html>
