@font-face {
	font-family: 'Literata';
	src: url('/fonts/Literata-VariableFont_opsz,wght.woff2') format('woff2');
	font-weight: 200 800;
	font-style: regular;
	font-display: swap;
}

@font-face {
	font-family: 'Literata';
	src: url('/fonts/Literata-Italic-VariableFont_opsz,wght.woff2')
		format('woff2');
	font-weight: 200 800;
	font-style: italic;
	font-display: swap;
}
