@import url('./globals.css');

article {
	padding-block-start: 3em;
	padding-inline: 0.5em;
	margin-inline: auto;
	max-width: var(--width);

	header {
		padding-block: 0.75em;
	}
}
p:has(time) {
	font-size: 1em;
	line-height: 1rem;
	font-weight: 300;
	padding-block-end: 0.75rem;
}

.tags {
	opacity: 0.7;
	font-style: italic;
	display: flex;
	gap: 0.5rem;
}

.content {
	max-width: 75ch;
	font-weight: 380;
}

h3:first-child,
h2:first-child {
	padding-block-start: 0.5em;
}

p {
	text-wrap: pretty;
}

ul,
ol {
	list-style: square;
	margin: 0;
	padding-inline-start: 1rem;
}

ul,
ol,
p {
	padding-block-start: 0.5rem;
	line-height: 1.65em;
}

.content a,
a.link {
	border-bottom: 1px dotted var(--t-low);
}

code {
	font-family: 'Fira Code', SFMono, Menlo, Monaco, Lucida Console,
		Liberation Mono, DejaVu Sans Mono, monospace;
	font-size: 0.8rem;
}

.astro-code {
	line-height: 1.2rem;
	/* padding: .25em; */
	border: hsl(0, 0%, 16%) solid 1.5px;
	/* background-color: hsl(0, 0%, 16%) !important; */
	margin-block: 1rem;
	min-width: 0;
	overflow-wrap: break-word;
}

img {
	width: 100%;
	object-fit: scale-down;
	opacity: 0.85;
	transition: opacity var(--ease);
	border-radius: 0.25rem;
	padding-block: 1.5rem;

	&:hover {
		opacity: 1;
	}

	& + em {
		display: block;
		color: var(--t-low);
		width: 100%;
		text-align: center;
		margin-block-start: -1.5rem;
		padding-block-end: 1rem;
	}
}

blockquote {
	padding-left: 0.75rem;
	font-size: 0.9rem;
	border-left: 1px solid var(--t-low);
	color: var(--t-low);
	padding-block: 0.25rem;
	margin-inline: 0.5rem;
	p {
		padding: 0;
	}
}

hr {
	margin: 0.25rem 0 1rem;
}

.extravagance {
	background: #9796f0;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fbc7d4, #9796f0);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: #d9a7c7;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffcdc, #9796f0);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fffcdc, #9796f0);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {
	.extravagance {
		background: #dc2430;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #7b4397, #dc2430);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #7b4397, #dc2430);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	img {
		opacity: 0.95;
	}
}
