/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2"), url("/fonts/CabinetGrotesk-Variable.woff") format("woff");
  font-weight: 200 800;
  font-style: regular;
  font-display: swap;
}