---
export interface Props {
  title: string
  slug: string
}

const { title, slug = "" } = Astro.props
import "../fonts.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h4 class="bc--root">
        <a href="/">stream.ibro.xyz</a>
        <span class="bc--path"> {slug === "" ? "" : `/ ${slug}`}</span>
      </h4>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --t-highlight: hsl(0, 0%, 93%);
    --text: hsl(23, 3%, 77%);
    --t-low: hsl(0, 0%, 53%);
    --ease: ease-in-out 200ms;

    color: var(--text);
  }

  * {
    margin: 0;
  }

  html {
    background-color: hsl(0, 0%, 6%);
    font-family: "Cabinet Grotesk", Inter, "San Francisco", serif;
    line-height: 150%;
  }
  a {
    color: var(--t-highlight);
    text-decoration: underline solid var(--t-low) 1px;
    /* border-bottom: 1px solid var(--t-low); */

  }
  a:hover {
    color: var(--t-low);
    transition: color var(--ease);
    opacity: 0.7;
  }

  p {
    font-weight: 460;
  }

  h1,
  h2 {
    color: var(--t-highlight);
    margin: 0;
    padding: 0;
    border: 0;
  }

  code {
    font-family: "Fira Code", SFMono, Menlo, Monaco, Lucida Console,
      Liberation Mono, DejaVu Sans Mono, monospace;
    font-size: 0.9rem;
  }
  pre {
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
  table {
    padding: 1rem 0;
    border-collapse: separate;
    border-spacing: 0.25rem;
  }
  td,
  th {
    /* padding: 0.25rem; */
  }
  tr {
    border: 1px solid white;
  }
  .content p {
    margin-bottom: 0.75em;
    opacity: 0.9;
  }
  img {
    width: 100%;
    object-fit: scale-down;
    opacity: 0.7;
    transition: opacity var(--ease);
    border-radius: 0.25rem;
  }
  img:hover {
    opacity: 1;
  }
  main,
  header {
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 80ch;
  }
  blockquote {
    padding-left: 1rem;
    opacity: 0.9;
    border-left: 1px solid var(--t-low);
  }
  /* header {
    position: sticky;
    top: 0;
} */
  .bc--root {
    font-size: 1rem;
  }
  .bc--path {
    font-weight: 400;
  }
  .extravagance {
    background: #9796f0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fbc7d4,
      #9796f0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fbc7d4,
      #9796f0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fffcdc,
      #9796f0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fffcdc,
      #9796f0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --t-highlight: hsl(0, 0%, 3%);
      --text: hsl(30, 11%, 14%);
    }
    html {
      background-color: hsl(32, 56%, 85%);
    }
    p {
      font-weight: 500;
    }
    a {
    }
    .extravagance {
      background: #dc2430; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #7b4397,
        #dc2430
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #7b4397,
        #dc2430
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    img {
      opacity: 0.95;
    }
  }
</style>
