---
import "../fonts.css"
import "../type.css"
export interface Props {
  title: string
  slug: string
}
const { title, slug = "" } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1 class="bc--root">
        <a href="/">notes.ibro.xyz</a>
        <span class="bc--path"> {slug === "" ? "" : `/ ${slug}`}</span>
      </h1>
    </header>
    <main id="swup" class="transition-fade">
      <slot />
    </main>
    <!-- <script type="module" src="/app.js"></script> -->
  </body>
</html>

