---
export interface Props {
  title: string
  slug: string
}

const { title, slug = "" } = Astro.props
import "../fonts.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h4 class="bc--root">
        <a href="/">stream.ibro.xyz</a>
        <span class="bc--path"> {slug === "" ? "" : `/ ${slug}`}</span>
      </h4>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --t-dark-highlight: rgba(238, 238, 238, 1);
    --text-dark: rgba(187, 187, 187, 1) ;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  html {
    background-color: #101010;
    font-family: "Cabinet Grotesk", Inter, "San Francisco", serif;
    color: var(--text-dark)
  }
  a {
    color: var(--t-dark-highlight);
  }
  @media (prefers-color-scheme: light) {
    html {
      background-color: #ecdbc7;
      color: rgba(0, 0, 0, 0.85);
    }
    a {
      color: rgba(0, 0, 0, 0.85);
      underline: none;
    }
  }

  * {
    margin: 0;
  }
  p {
    font-weight: 460;
    /* margin: 0; */
  }

  code {
    font-family: "Fira Code", SFMono, Menlo, Monaco, Lucida Console,
      Liberation Mono, DejaVu Sans Mono, monospace;
    margin: 0 1em;
    font-size: 0.9rem;
  }
  pre {
    /* background: #; */

    padding: 0.3rem;
    border-radius: 0.5rem;
  }
  .astro-code {
    background-color: #da62c4;
  }

  table {
    padding: 1rem 0;
    border-collapse: separate;
    border-spacing: 0.25rem;
  }
  h1, h2 {
    color: var(--t-dark-highlight)
  }
  h2 {
    margin: 0;
    padding: 0;
    border: 0;
  }
  td,
  th {
    /* padding: 0.25rem; */
  }
  tr {
    border: 1px solid white;
  }
  .content p {
    margin-bottom: 0.75em;
    opacity: 0.9;
  }
  img {
    width: 100%;
    object-fit: scale-down;
    opacity: 0.7;
    transition: opacity ease-in-out 500ms;
    border-radius: .25rem;
  }
  img:hover {
    opacity: 1;
  }
  main,
  header {
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 80ch;
  }
  blockquote {
    padding-left: 1rem;
    opacity: .9;
    border-left: 1px solid var(--t-dark-highlight);
  }
  /* header {
    position: sticky;
    top: 0;
} */
  .bc--root {
    font-size: 1rem;
  }
  .bc--path {
    font-weight: 400;
  }
</style>
