---
export interface Props {
  title: string
}

const { title } = Astro.props
import '../fonts.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1>Stream</h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  html {
    background-color: #101010;
    font-family: "Neue Montreal", Inter, "San Francisco", serif;
    color: rgba(255, 255, 255, 0.98);
  }
  a {
    color: aliceblue;
  }
  @media (prefers-color-scheme: light) {
    html {
      background-color: #ecdbc7;
      color: rgba(0, 0, 0, 0.85);
    }
    a {
    color:  rgba(0, 0, 0, 0.85);
  }
  }

  * {
    margin: 0;
  }
  p {
    font-weight: 460;
    /* margin: 0; */
  }

  code {
    font-family: "Fira Code", SFMono, Menlo, Monaco, Lucida Console,
      Liberation Mono, DejaVu Sans Mono, monospace;
    margin: 0 1em;
    font-size: 0.9rem;
  }
  pre {
    /* background: #; */

    padding: 0.3rem;
    border-radius: 0.5rem;
  }
  .astro-code {
    background-color: #da62c4;
  }

  table {
    padding: 1rem 0;
    border-collapse: separate;
    border-spacing: 0.25rem;
  }

  h2 {
    margin: 0;
    padding: 0;
    border: 0;
  }
  td,
  th {
    /* padding: 0.25rem; */
  }
  tr {
    border: 1px solid white;
  }
  .content p {
    margin-bottom: 0.75em;
    opacity: 0.9;
  }
  main {
    padding: 2rem;
    max-width: 80ch;
    margin: auto;
  }
</style>
